@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
body,html{
    top:0;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;   
    height: 100%; 
}

#container{
    display: flex;
    background-image: url("./images/wedding6.jpg.png");
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
#opacity-background{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:white;
    opacity: 0.3;

}

#content{
    
    position: relative;
    background: rgb(0, 0, 0);
    opacity: 0.7;
    width: 59%;
    float: left;
    margin: 1% 1% 1% 45%;
   
}
#album {
    margin: 8% 1.5% 0 1.5%;
    width: 42%;
    position: absolute;
    box-shadow: 10px 50px 100px 10px black;
    border: 20px ridge #ffffff;
}

#vh{
    width: 54%;
    position: absolute;
    
}
#hh{
    width: 48%;
    margin-left: 52%;
    
}
#s{
    width: 48%;
    margin-left: 52%;
    
}


#invite{
    font-family: 'Berkshire Swash', cursive;
    color: pink;
    text-align: center;
    font-size: 50px;
}
#happy{
    font-family: 'Berkshire Swash', cursive;
    color: pink;
    text-align: center;
}
#infor{
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 13px;
    display: flex;
    position: absolute;
    padding: 2% 4%;
    width: 100%;
}
.wedding{
    width: calc(100%/1.9);
    letter-spacing: 2px; 
    text-align: center;
    line-height: 15px;
}
.wedding h3{
    font-size: 25px;
}
#colorful{
    color: white;
    font-family: 'Great Vibes', cursive;
    display: flex;
    margin-top: 0px;
    position: absolute;
    text-align: center;
    width: 95%;
    align-items: center;
    margin-top: 12%;
    margin-left: 2%;
    
}
.name{
    border-style: solid;
    border-width: 1px 0 0 0;
    padding:  10px 0;
    margin-top: 50px;
    color: blanchedalmond;
    width: 35%;
    font-size: 32px;
}
#radius{
    border-radius: 100%;
    border: solid 1.5px white;
    width: 30%;
}

#desc{
    position: relative;
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    margin-top: 00%;
    text-align: center;
    width: 95%;
}



#time{
    display: flex;
    position: relative;
    width: 40%;
    margin-left: 38%;
}
#hour{  
    margin: 45px 5px;
}

#year{
   
    margin: 45px 5px;
}
.border1{
    border-style: solid;
    border-width: 0.1px 0;
    width: 50px;
}
#day-month{
    border-style: solid; 
    border-width: 0 1.5px;
    width: 90px;
    margin: 20px 0;
}
#day{
    border-style: solid; 
    border-width: 0 0 1px 0;
    width: 100%;
    
    font-size: 30px;
    font-weight: bold;
}
/* #myCanvas{
    position: absolute;
    margin-top: 110px;
    margin-left: 185px;
   
    
} */

#bride{
    margin-left: 10px;
}
#broom{
    margin-left: 200px;
}
#countDown{
    position: relative;
    font-family: 'Lobster Two', cursive;
    color: white;
    text-align: right;  
    font-size: 20px;
    font-weight: bold;
    margin-top: 0%;
    
    padding: 20px;
}

@media only screen and (max-width: 600px) {

    #container{
        display: inline-block;
        background-image: url("./images/wedding5.jpg");
        background-repeat: repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    #invite{
        
        margin-top: 0px;
        padding: 5px;
        font-size: 1em;
    }
    #happy{
        font-size: 0.8em;
        margin-top: -10px;
    }
    #infor{
        margin-top: -30px;
        font-size: 5px;
        padding: 5px 10px;
    }
    .wedding h3{
        font-size: 10px;
    }
    .wedding{
        width: calc(100%);
        letter-spacing: 0.5px; 
        font-size: 6px;
        line-height: 0.5px;
    }
    
    #bride{
        margin-left: 0px;
    }
    #broom{
        margin-left: 70px;
    }
    #colorful{
        width: 95%;
        margin-top: 5%;
        margin-left: 2%;
        
    }
    .name{
        padding:  10px 0;
        font-size: 12px;
    }
    #radius{
        border: solid 0.5px white;
    }
    
    #desc{
        position: relative;
        color: white;
        font-family: 'Lobster Two', cursive;
        font-size: 10px;
        margin-top: 30%;
        text-align: center;
        width: 95%;
    }
     
    #time{
        display: flex;
        position: relative;
        width: 40%;
        margin-left: 35%;
        margin-top: -30px;
        font-size: 7px;
    }
    #hour{  
        margin: 45px 5px;
        width: 20%;
    }
    
    #year{
        width: 20%;
        margin: 45px 5px;
    }
   
    #day-month{     
        border-width: 0 1px;
        width: 40px;
        margin: 35px 0;
    }
    #day{        
        width: 100%;   
        font-size: 10px;
        
    }
    #countDown{
        
        font-size: 8px;
        margin-top: -5%;
    padding: 5px;
       
    }
    #content{
    
        position: relative;
        background: rgb(0, 0, 0);
        opacity: 0.7;
        width: 92%;
        margin: 4%;
       
    }
    #album {
        margin: 4%;
        width: 92%;
        position: absolute;
        margin-top: 85%;
        box-shadow: 10px 50px 100px 10px black;
        border: 15px ridge #ffffff;
    }
   
    #vh{
        width: 53%;
        
        position: absolute;
        
    }
    #hh{
        width: 48%;
        
        margin-left: 52%;
        
    }
    #s{
        width: 48%;
        margin-left: 52%;
        
    }
   
   
  }

  @media only screen and (min-width: 1800px) {

    #container{
        display: flex;
        background-image: url("./images/wedding6.jpg.png");
        background-repeat: repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }
    #opacity-background{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:white;
        opacity: 0.3;
    
    }
    
    #content{
        
        position: relative;
        background: rgb(0, 0, 0);
        opacity: 0.7;
        width: 59%;
        float: left;
        margin: 1% 1% 1% 45%;
       
    }
    #album {
        margin: 8% 1.5% 0 1.5%;
        width: 42%;
        position: absolute;
        box-shadow: 10px 50px 100px 10px black;
        border: 20px ridge #ffffff;
    }
    
    #vh{
        width: 54%;
        position: absolute;
        
    }
    #hh{
        width: 48%;
        margin-left: 52%;
        
    }
    #s{
        width: 48%;
        margin-left: 52%;
        
    }
    
    
    #invite{
        font-family: 'Berkshire Swash', cursive;
        color: pink;
        text-align: center;
        font-size: 70px;
    }
    #happy{
        font-family: 'Berkshire Swash', cursive;
        color: pink;
        text-align: center;
        font-size: 50px;
    }
    #infor{
        color: white;
        font-family: 'Courgette', cursive;
        font-size: 18px;
        display: flex;
        position: absolute;
        padding: 2% 4%;
        width: 100%;
    }
    .wedding{
        width: calc(100%/2);
        letter-spacing: 2px; 
        text-align: center;
        line-height: 25px;
    }
    .wedding h3{
        font-size: 30px;
    }
    #colorful{
        color: white;
        font-family: 'Great Vibes', cursive;
        display: flex;
        margin-top: 0px;
        position: absolute;
        text-align: center;
        width: 95%;
        align-items: center;
        margin-top: 13%;
        margin-left: 2%;
        
    }
    .name{
        border-style: solid;
        border-width: 1px 0 0 0;
        padding:  20px 0;
        margin-top: 50px;
        color: blanchedalmond;
        width: 35%;
        font-size: 35px;
    }
    #radius{
        border-radius: 100%;
        border: solid 1.5px white;
        width: 30%;
    }
    
    #desc{
        position: relative;
        color: white;
        font-family: 'Lobster Two', cursive;
        font-size: 30px;
        margin-top: 00%;
        text-align: center;
        width: 95%;
    }
    
    
    
    #time{
        display: flex;
        position: relative;
        width: 50%;
        margin-left: 35%;
    }
    #hour{  
        width:80px;
        margin: 80px 15px;
    }
    
    #year{
        width:80px;
        margin: 80px 5px;
    }
    
    #day-month{
        border-style: solid; 
        border-width: 0 1.5px;
        width: 27%;
        margin: 30px 0;
    }
    #day{
        border-style: solid; 
        border-width: 0 0 1px 0;
        width: 100%;
        font-size: 60px;
        font-weight: bold;
    }
    /* #myCanvas{
        position: absolute;
        margin-top: 110px;
        margin-left: 185px;
       
        
    } */
    
    #bride{
        margin-left: 10px;
    }
    #broom{
        margin-left: 200px;
    }
    #countDown{
        position: relative;
        font-family: 'Lobster Two', cursive;
        color: white;
        text-align: right;  
        font-size: 20px;
        font-weight: bold;
        margin-top: 0%;
        font-style: italic;
        padding: 20px;
    }
   
   
  }
